.gradient-heading {
	font-size: 1em;
	font-weight: 700;
	/* line-height: 5px; */
	letter-spacing: 5px;
	text-align: center;

	background: -o-linear-gradient(45deg, #ff8a00, #e52e71, #044bea, #7a00ff);
	background: linear-gradient(45deg, #ff8a00, #e52e71, #044bea, #7a00ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 300% 300%;
	-webkit-animation: gradient-text 4s ease infinite;
	animation: gradient-text 4s ease infinite;
}
@-webkit-keyframes gradient-text {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes gradient-text {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.startGameButton {
	margin: 50px;
}
