html {
	--board-size: 3;
	--tile-size: 55px;
	--hover-tile-size: 56px;
}
/* .outer-container {
	background-color: blueviolet;
	width: 0.9vw;
	height: 0.9vh;
} */
.table-container {
	cursor: pointer;
	display: grid;
	grid-template-columns: repeat(var(--board-size, 3), var(--tile-size));
	justify-content: center;
}
.img-container {
	width: var(--tile-size);
	height: var(--tile-size);
}
.img-container:hover {
	width: var(--hover-tile-size);
	height: var(--hover-tile-size);
}
