html {
	--board-size: 3;
}
/* .outer-container {
	background-color: blueviolet;
	width: 0.9vw;
	height: 0.9vh;
} */
.table-container {
	cursor: pointer;

	display: grid;
	grid-template-columns: repeat(var(--board-size, 3), 75px);
	justify-content: center;
}
.img-container {
	width: 55px;
	height: 55px;
}
.img-container:hover {
	width: 56px;
	height: 56px;
}
